{# templates/partials/header.html.twig #}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
{% endblock %}

<header>
   
            <section class="header-section">
                <a>
                    <img src="{{ asset('img/logo.png') }}" alt="Job Pulse" class="header-logo">
                </a>
                <nav class="header-nav">
                    <a class="bouton-connexion" href="{{ path('app_login') }}">Connexion</a>
                </nav>
            </section>
</header>