{# templates/partials/header.html.twig #}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
{% endblock %}

<header class="site-header">
   
            <div class="header-container">
                <a>
                    <img src="{{ asset('img/logo.png') }}" alt="Job Pulse" class="header-logo">
                </a>
                <nav class="header-nav">
                    <a href="{{ path('app_login') }}">Connexion</a>
                </nav>
            </div>
</header>