/* ============ CONTAINER FORMULAIRE ============ */

.login-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #000;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 12px;
    padding: 2.5rem;
    width: 100%;
    max-width: 500px;
    box-shadow: 10px 10px 0px #004080;
}

/* ============ FORMULAIRE ============ */

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* Groupe champ (label + input) */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-label {
    font-size: 1rem;
    font-weight: 500;
    color: #222;
}

.form-input {
    padding: 12px 16px;
    font-size: 1rem;
    border: none;
    border-radius: 12px;
    background-color: #f1f1d6;
}

/* ============ BOUTON ============ */
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 1rem;
    margin-top: 1.5rem;
}
.login-button {
    align-self: flex-end;
    padding: 12px 24px;
    background-color: #004080;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #003060;
}

/* ============ LIEN INSCRIPTION ============ */


.register-link {
    text-align: left; /* Changé à left */
    font-size: 0.875rem;
    margin-top: 0; /* Retiré la marge du haut */
}

.register-link ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0.5rem;
}

.register-link li {
    margin-bottom: 0.25rem;
}

.register-link p {
    margin: 0;
    font-weight: 500;
}