/* Style général du header */
header {
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;
    overflow-x: hidden;
    margin-bottom: 87px;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 0 157px;
    padding: 0 20px;
}

/* Logo */
.header-logo {
    height: 50px;
    width: auto;
}


/* Navigation */
.header-nav {
    display: flex;
    gap: 60px;
    align-items: center;
    div{
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

.image-header{
    width: 44px;
    height: 44px;
}


/* Version mobile (optionnel) */
@media (max-width: 768px) {
    .header-container {
        max-width: 100%;
        padding: 0 20px;
        flex-direction: column;
        gap: 15px;
    }
    
    .header-nav {
        gap: 20px;
    }
}