/* Style général du header */
body header {
    padding: 20px 0;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;
    overflow-x: hidden;
    margin-bottom: 87px;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 0 157px;
    padding: 0 20px;
}

/* Logo */
.header-logo {
    height: 50px;
    width: auto;
}


/* Navigation */
.header-nav {
    display: flex;
    gap: 60px;
    align-items: center;

}

.header-nav div {
    display: flex;
    align-items: center;
    gap: 20px;
}
.image-header{
    width: 44px;
    height: 44px;
}


/* Version mobile (optionnel) */
@media only screen and (max-width:420px){
    body header {
        padding: 10px 0;
        margin-bottom: 50px; /* Ajuster la marge inférieure pour le mobile */
    }
    .header-section {
        display: flex;
        align-items: center;
        max-width: 1200px;
        justify-content: space-between;
        gap: 15px;
        margin: 0 20px; /* moins de marge sur mobile */
    }

    .header-nav {
        gap: 20px;
        flex-wrap: wrap;
    }
    .header-logo {
        width: 134px; /* Ajuster la taille du logo sur mobile */
        height: auto;
    }
    .image-header {
        width: 36px;
        height: 36px;
    }
}