
body {
    font-family: 'roboto', sans-serif;
    background-color: #EFEFD0;

}

.container {
    padding: 0 157px 0 157px;
}

h1 {
    font-family: 'roboto', sans-serif;
    font-size: 3rem;
    color: #000000;
}

h2 {
    font-size: 32px;
    color: #000000;
    font-family: 'roboto', sans-serif;
}

h3 {
    font-size: 24px;
    color: #000000;
    font-family: 'roboto', sans-serif;
}

h4 {
    font-size: 20px;
    color: #000000;
    font-family: 'roboto', sans-serif;
}

p {
    font-size: 16px;
    color: #000000;
    font-family: 'roboto', sans-serif;
    line-height: 24px;
}
.bouton-connexion{
    color: #ffffff;
    background-color: #004E89;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    position: relative;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    border: 1px solid #1A659E;
    
}

a{
    text-decoration: none;
    color: #000000;
    font-size: 1.25rem;
}
.bouton-connexion:hover {
    background-color: #1A659E;
    transition: background-color 0.3s ease;
}

.bouton-filtres{
    background-color: #FF6B35;
    color: #ffffff;
}

.bouton-modifier{
    width: 50px;
    height: 50px;
    background-color: #004E89; /* Couleur de fond bleu */
    border-radius: 50%; /* Rend le bouton rond */
    display: flex;
    align-items: center;
    justify-content: center;
    border: none; /* Supprime la bordure */
    cursor: pointer; /* Change le curseur en pointeur */
    transition: background-color 0.3s ease; /* Animation pour le hover */

}
.bouton-modifier:hover {
    background-color: #1A659E; /* Couleur de fond bleu clair au survol */
}