DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Gestion de l'autorisation HTTP
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
    
    # Redirige vers l'URI sans le contrôleur frontal
    RewriteCond %{ENV:REDIRECT_STATUS} ^$
    RewriteRule ^index\.php(?:/(.*)|$) /$1 [R=301,L]
    
    # Si le fichier ou répertoire existe, le servir directement
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
    
    # Sinon, rediriger vers index.php
    RewriteRule ^ index.php [L]
</IfModule>