<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
    </head>
    <!-- Inclusion du header -->
    {% include 'includes/partials/header.html.twig' %}
    <body>
        <h1>Étudiant</h1>
    </body>
</html>
